.second {
    width: 1200px;
    text-align: center;
}

#heading {
    width: 250px;   
    display: flex;
    flex-direction: column;
    margin: 0 500px;
    padding: 20px 20px 0 0;
    justify-content: center;
}

#bg {
    background-image: url('../assets/BG.png');
    height: 400px;
}

#table {
    position: relative;
    bottom: 275px;
}

#content_2 {
    margin: 0 auto;
}
