.slider {
-webkit-appearance: none;
  width: 50px;
  height: 15px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0099FF;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0099FF;
    cursor: pointer;
  }

#typeset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.blue {
    color: #0099FF;
}

.blue > h2 {
    transform: translateX(-30px);
}

.rectangle {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 125px;
    height: 45px;
}

.rectangle > h4 {
    transform: translate(0,-10px);
}

.rectangle_selected {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border: 3px #0099FF solid;
    width: 120px;
    height: 40px;
}

.rectangle_selected h4 {
    transform: translate(0,-12.5px);
}

.sort {
    display: flex;
    flex-direction: row;
}

.size {
    display: inline-block;
    margin: 10px;
}

#pos {
    transform: translateY(35px);
    margin: 15px;
}

#mon {
    transform: translate(-5px,-7.5px);
    margin: 15px;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
    padding: 50px 10px 30px;
    width: 235px;
    height: 100px;
    transform: translateY(50px);
}

.card_selected {
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    padding: 50px 10px 30px;
    width: 215px;
    height: 200px;
    transform: translateY(-5px);
}

.card_content {
    transform: translate(-30px,-30px);
}

.card_content > h3 {
    transform: translateX(-30px);
}

.define > h2 {
    display: inline;
}

.define > div {
    display: inline;
    padding: 5px;
    color: #8B8E91;
}

.serve {
    transform: translateX(-15px);
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_selected_content {
    transform: translateX(-20px);
}

#selected_text {
    transform: translate(30px,10px);
    width: 150px;
}

#month {
    transform: translate(-20px,-20px);
    color: #8B8E91;
}

#grey {
    transform: translateY(-20px);
}

#content_3 {
    width: 100%;
    margin: 0 auto;
}

.third {
    width: 1200px;
    text-align: center;
}